.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
}

body {
	background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-position: 3% 3%;
}
